:root {
    font-size: 16px;
    --xs: 0.5rem;
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.5rem;
    --xl: 2rem;
    --xxl: 3rem;
    --dark-body-bg: #202020;
    --dark-body-fg: #fffafa;
    --prime: #FF3838;
    --prime0: #73AF6F;
    --prime1: #4169e1;
    --border-c: lightgray;
}