:root {
    font-size: 16px;
    --xs: 0.5rem;
    --s: 0.75rem;
    --m: 1rem;
    --l: 1.5rem;
    --xl: 2rem;
    --xxl: 3rem;
    --dark-body-bg: #202020;
    --dark-body-fg: #fffafa;
    --prime: #0D9479;
    --prime0: #A7C957;
    --prime1: #4169e1;
    --border-c: lightgray;
    --box-bg: #252525;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.90);
    transition: all 0.2s ease-in-out;
}