@import url('./root.css');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--dark-body-bg);
    color: var(--dark-body-fg);
}